<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HouseTask</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container inicial">
      <h1 class="welcome-title">Bem-vindo ao HouseTask</h1>
      <p>
        O HouseTask é uma aplicação web que facilita o gerenciamento de tarefas
        domésticas. Crie tarefas para organizar melhor o seu dia a dia!
      </p>

      <div class="auth-buttons">
        <a href="/auth/login" class="auth-btn">Login</a>
        <a href="/auth/register" class="auth-btn">Cadastrar-se</a>
      </div>

      <br />
      <p>
        Para conhecer mais sobre nosso projeto, acesse nosso
        <a href="https://seu-portfolio-link.com" target="_blank">portfólio</a>!
      </p>
    </div>
  </body>
</html>
